{
    "type": "composite",
    "models": [
        {
            "type": "model",
            "model": "item/{{ base_model }}"
        },
        {
            "type": "select",
            "property": "component",
            "component": "trim",
            "fallback": { "type": "empty" },
            "cases": {{ cases | tojson }}
        }
    ]
}
