[
    {
        "when": {
            "pattern": "{{ pattern }}",
            "material": "{{ material }}"
        },
        "model": {
            "type": "model",
            "model": "trims/items/{{ trim_model }}/{{ pattern }}_{{ color }}"
        }
    }
]
