{
    "model": {
        "type": "minecraft:condition",
        "property": "minecraft:using_item",
        "on_false": {
            "type": "minecraft:select",
            "property": "minecraft:charge_type",
            "fallback": {{ composite | tojson }},
            "cases": [
                { "when": "arrow", "model": {{ composite_arrow | tojson }} },
                { "when": "rocket", "model": {{ composite_firework | tojson }} }
            ]
        },
        "on_true": {
            "type": "minecraft:range_dispatch",
            "property": "minecraft:crossbow/pull",
            "fallback": {{ composite_pulling_0 | tojson }},
            "entries": [
                { "threshold": 0.58, "model": {{ composite_pulling_1 | tojson }} },
                { "threshold": 1.0, "model": {{ composite_pulling_2 | tojson }} }
            ]
        }
    }
}
