{
    "sources": [
        {
            "type": "paletted_permutations",
            "palette_key": "trims/color_palettes/trim_palette",
            "permutations": {{ permutations | tojson }},
            "textures": {{ textures | tojson }}
        }
    ]
}
